<!DOCTYPE html>
<html>
<head>
  <title>Ufo5day</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
	<ul>
		<li><%= link_to 'HOME', root_path %></li>
		<li><%= link_to 'POST', posts_path %></li>
		<li><%= link_to 'CATE', categories_path %></li>

		<% Category.all.each do |category| %>
			<li><%= link_to category.name, posts_path(category: category) %></li>
		<% end %>
	</ul>
	<ul>
		<% if user_signed_in? %>
			<li><%= current_user.email %></li>
			<li><%= link_to 'LOG-OUT', destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to 'LOG-IN', new_user_session_path %></li>
			<li><%= link_to 'JONIN', new_user_registration_path %></li>
		<% end %>
	</ul>
	</nav>

<%= yield %>

</body>
</html>
